{% extends "app_general/components/base.html" %}
{% load static %}

{% block content %}
<div>
    <h1>My eVehicle</h1>
    <p>Use it if you wanna intrend</p>
</div>
<section>
    <h4>
        News about us
    </h4>
    <div>
        <div>
            <img src="{% static 'app_general/home-about-1.jpg' %}">
        </div>
        <p>slkvdnfskvnk.dsvmkdsmvdksvmdm kmdk mskmks</p>
    </div>
    <div>
        <div>
            <img src="{% static 'app_general/home-about-2.jpg' %}">
        </div>
        <p>pdflbkfdo ijkk nnn niiiflvkfdlkdflk mmm</p>
    </div>
    <div>
        <div>
            <img src="{% static 'app_general/home-about-3.jpg' %}">
        </div>
        <p>093498u8 njkf 87877 7777s</p>
    </div>
</section>
{% endblock %}