{% extends "app_general/components/base.html" %}

{% block site_title%} Promotion Form | {% endblock %}

{% block content %}
<h2>Register for promotion</h2>
<p>Please fill with real information</p>
<form action="{% url 'subscription' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div style="margin-bottom: 16px">
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    <div style="margin-bottom: 16px">
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div style="margin-bottom: 16px">
        {{ form.food_set.label_tag }}
        {{ form.food_set }}
        {{ form.food_set.errors }}
    </div>
    <div style="margin-bottom: 16px">
        <label>Read terms and condition</label>
        <label>
            {{ form.accepted }}
            {{ form.accepted.label }}
        </label>
        {{ form.accepted.errors }}
    </div>
    <div style="margin-bottom: 16px">
        <button type="submit">Register</button>
    </div>
</form>
{% endblock %}